absl-py==0.9.0
astor==0.6.2
attrs==19.3.0
backcall==0.1.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bhtsne==0.1.9
bleach==1.5.0
boto==2.49.0
boto3==1.12.44
botocore==1.15.44
cachetools==4.0.0
catboost==0.22
certifi==2019.11.28
cffi==1.14.0
chainer==7.2.0
chardet==3.0.4
cloudpickle==1.3.0
cntk-gpu==2.7
cudf==0.6.1
cudf-cuda92==0.6.1
cupy==7.2.0
cycler==0.10.0
Cython==0.29.15
decorator==4.3.0
defusedxml==0.6.0
dgl==0.4.3.post2
dm-sonnet==2.0.0b0
docutils==0.15.2
entrypoints==0.3
enum34==1.1.6
fastrlock==0.4
filelock==3.0.12
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gensim==3.8.2
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googledrivedownloader==0.4
graphviz==0.13.2
grpcio==1.12.1
h5py==2.10.0
html5lib==0.9999999
idna==2.9
imageio==2.8.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.0
jupyter-console==6.1.0
jupyter-core==4.6.3
karateclub==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-tqdm==2.0.1
kiwisolver==1.1.0
Lasagne==0.2.dev1
leveldb==0.1
lightgbm==2.3.1
llvmlite==0.32.0
lxml==4.5.0
Mako==1.1.2
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mock==2.0.0
mxnet-cu101==1.6.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nose==1.3.7
notebook==6.0.3
numba==0.41.0
numpy==1.18.3
nvstrings-cuda92==0.3.0.post1
oauthlib==3.1.0
onnx==1.6.0
onnxruntime==1.2.0
opt-einsum==3.2.0
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pbr==4.0.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.6.0
plyfile==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.11.3
ptyprocess==0.6.0
pyarrow==0.12.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydot==1.4.1
Pygments==2.6.1
pygobject==3.26.1
pygpu==0.7.6
PyGSP==0.5.1
pyparsing==2.4.6
pyrsistent==0.15.7
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-distutils-extra==2.39
python-gflags==1.5.1
python-igraph==0.8.0
python-louvain==0.14
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
rdflib==5.0.0
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.14.0
sklearn==0.0
smart-open==1.11.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-probability==0.9.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texttable==1.6.2
th==0.1.0
Theano==1.0.4+unknown
thundersvm-cuda10==0.3.5
thundersvm-cuda10.1==0.3.4
torch==1.5.0
torch-cluster==1.5.4
torch-geometric==1.4.3
torch-scatter==2.0.4
torch-sparse==0.6.1
torchvision==0.6.0.dev20200319
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
typing==3.7.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.0.2
zipp==3.1.0
